[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
